@include breakpoint(desktop) {

    .site-header {
        padding: var(--space-0) var(--space-5);
    }

    .intro {

        .image {
            position: absolute;
            top: 0;
            bottom: 0;
            right: var(--space-5);
            z-index: -1;

            img {
                height: 100%;
                width: auto;
                right: auto;
            }

        }

        .px {
            padding: var(--space-5);
        }

        &-content {
            position: relative;
        }

    }

    .px {
        padding: var(--space-5);

        &-lg {
            padding-bottom: calc(4 * var(--space-5));
        }
    }

}

@include breakpoint(tablet) {

    .site-header {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 var(--space-5);
    }

    .site-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        background-color: #fff;
        width: 100%;
        height: calc(100% - 70px);
        overflow-x: auto;
        position: fixed;
        top: 70px;
        left: -100%;
        transition: all 0.3s ease;
        z-index: 999;
        padding: 0;

        .site-menu {
            display: block;
            width: 100%;

            li {
                border-bottom: 1px solid var(--color-border);
    
                a {
                    display: block;
                    padding: var(--space-2);
                    color: var(--color-dark) !important;
                    border-radius: 0;
                }
            }

        }

        .account {
            flex-direction: column;
            width: 100%;
            margin: auto 0;
            padding: var(--space-2);

            a {
                width: 100%;
                color: var(--color-secondary);

                &:first-child {
                    color: var(--color-secondary);
                    border: 2px solid var(--color-secondary);
                    margin-bottom: var(--space-0);
                }

                &:last-child {
                    background-color: var(--color-secondary);
                    color: #fff;
                }

            }

        }

        &.active {
            left: 0;
        }

    }

    .mobile-menu-icon {
        display: block;
        margin-left: auto;
        color: var(--color-dark);

        &:hover {
            color: var(--color-dark);
        }

        &.active {

            &:before {
                font-size: 20px;
                content: "\e90e";
            }
        }

        &:before {
            font: 400 22px/1 'fontello';
            content: "\e90b";
        }
    }

}

@include breakpoint(mobile) {

    .site-header {
        padding: 0 var(--space-4);
    }

    .intro {

        .px {
            padding: var(--space-4);
        }

        .image {
            position: relative;
            right: auto;

            img {
                width: 85%;
                height: auto;
                margin: auto;
            }
        }
    }

    .features {

        .grid {
            grid-gap: var(--space-2);
        }

        .col {
            padding: 0;
            border: 0 !important;
            border-width: 0;
            border-bottom: 1px solid var(--color-border);
        }
    }

    .banner {

        img {
            width: 75%;
            margin: auto;
        }
    }

    .contact-form {
        margin-top: auto;
    }

    .px {
        padding: var(--space-4);
    }

    .h1, .h2, .h3, .h4, .h5,
    h1, h2, h3, h4, h5 {
        font-weight: 700;
        letter-spacing: 0;
    }

}

@include breakpoint(smartphone) {}