@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Fonts
-------------------------------- */
@font-face {
  font-family: 'Maison Neue';
  src: url("../font/maison-neue/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Maison Neue';
  src: url("../font/maison-neue/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Box Sizing
-------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Defaults
-------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
html.opened {
  overflow-y: hidden;
}

body {
  color: var(--color-body);
  background-color: #fff;
  font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial", sans-serif;
  font-size: var(--font-size-md);
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
}

a,
textarea,
button,
label,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  transition: all 0.25s ease-in-out;
}

a {
  color: var(--color-dark);
  text-decoration: none;
  outline: none;
}
a:hover {
  color: var(--color-primary);
}

p {
  margin: 0 0 var(--space-3);
  padding: 0;
}
p:last-child {
  margin-bottom: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

small {
  display: block;
  font-size: var(--font-size-sm);
  color: var(--color-muted);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
  font-weight: 400;
  margin: 0;
  word-wrap: break-word;
  line-height: 1.5;
  letter-spacing: -0.25px;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: var(--color-secondary);
}

.h1,
h1 {
  font-size: calc(28px + (48 - 28) * ((100vw - 300px) / (1600 - 300)));
}

.h2,
h2 {
  font-size: calc(22px + (38 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.h3,
h3 {
  font-size: calc(17px + (28 - 17) * ((100vw - 300px) / (1600 - 300)));
}

.h4,
h4 {
  font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600 - 300)));
}

.h5,
h5 {
  font-size: var(--font-size-lg);
}

figure,
img {
  pointer-events: none;
  display: block;
  margin: 0;
}

/* Forms
-------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid var(--color-input);
  border-width: 0 0 1px 0;
  outline: none;
  width: 100%;
  padding: 20px 0 10px 0;
  color: var(--color-body);
  font-weight: 700;
}

select:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: rgba(28, 187, 140, 0.75);
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button:disabled,
button[disabled] {
  cursor: default;
}

textarea {
  line-height: 1.75;
  padding: 15px 0;
  height: auto;
  resize: none;
  display: block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-moz-selection {
  background: rgba(var(--color-primary-rgb), 0.5);
  color: #fff;
}

::selection {
  background: rgba(var(--color-primary-rgb), 0.5);
  color: #fff;
}

::-moz-placeholder {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-muted);
  opacity: 1;
}

::-webkit-input-placeholder {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-muted);
}

:-ms-input-placeholder {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-muted);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  text-align: left;
  border: 1px solid var(--color-border);
  padding: var(--space-0);
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted var(--color-muted);
}

blockquote {
  display: block;
  margin: 0;
}
blockquote:before {
  content: "„";
}
blockquote:after {
  content: "“";
}

/* Buttons
-------------------------------- */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 42px;
  background-color: var(--color-secondary);
  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-weight: 700;
  padding: 0 var(--space-3);
  border-radius: 25px;
  width: auto;
  appearance: none;
  position: relative;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.1;
  clip-path: circle(0 at center);
  transition: 0.3s ease-out;
}
.btn:hover {
  color: #fff;
}
.btn:hover:after {
  clip-path: circle(150px at center);
}
.btn:active {
  opacity: .75;
}
.btn-muted {
  background-color: transparent;
  color: var(--color-dark);
}
.btn-muted:hover {
  color: var(--color-secondary);
}
.btn-border {
  border: 2px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
}
.btn-border:hover {
  background-color: rgba(28, 187, 140, 0.075);
  color: var(--color-secondary);
}

/* Icons
-------------------------------- */
[class*="icon-"]:after,
[class*="icon-"]:before {
  font-style: normal;
  font-family: 'fontello';
  font-weight: 400;
  line-height: 1;
}

[class*="icon-"]:before {
  padding-right: 7px;
}

.icon-filter:before {
  content: "\e903";
}

.icon-settings:before {
  content: "\e908";
}

.icon-data:before {
  content: "\e904";
}

.icon-cloud:before {
  content: "\e906";
}

.icon-check:before {
  content: "\e907";
}

.icon-form:before {
  content: "\e900";
}

.icon-mail:before {
  content: "\e901";
}

.icon-payment:before {
  content: "\e902";
}

.icon-lg {
  font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1600 - 300)));
}

.site-header {
  padding: var(--space-0) 0;
}
.site-header .site-logo img {
  height: calc(22px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
  width: auto;
}
.site-header .site-navigation {
  width: 100%;
}
.site-header .site-menu {
  flex: 1;
}
.site-header .account {
  margin-left: auto;
}
.site-header li a {
  display: block;
  padding: var(--space-0) var(--space-1);
  color: var(--color-body);
  font-weight: 700;
  border-radius: 25px;
}
.site-header li a:hover {
  background-color: rgba(var(--color-dark-rgb), 0.05);
}
.site-header li a:active {
  background-color: rgba(var(--color-dark-rgb), 0.1);
}

.intro .image {
  position: relative;
  pointer-events: none;
  right: -40px;
  z-index: 1;
}
.intro .image img {
  height: 600px;
  width: auto;
}
.intro .container {
  position: relative;
  z-index: 10;
}
.intro .px {
  padding: calc(1.5 * var(--space-5)) 0;
}

.features .col:nth-child(-n+2) {
  border-bottom: 1px solid var(--color-border);
}
.features .col:nth-child(even) {
  border-left: 1px solid var(--color-border);
}
.features img {
  width: 75px;
  height: auto;
}
.features i {
  display: block;
  font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1;
}

.banner {
  position: relative;
  padding: calc(2 * var(--space-5)) 0;
}
.banner .logo {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: var(--space-4);
}
.banner .logo img {
  height: 100%;
  width: auto;
  margin: auto;
  opacity: .25;
}
.banner .image {
  position: relative;
}

.contact-form {
  margin-top: calc(-3 * var(--space-5));
}
.contact-form form {
  box-shadow: rgba(var(--color-dark-rgb), 0.1) 0px 18px 50px -10px;
}
.contact-form .field {
  position: relative;
}
.contact-form .floating {
  color: var(--color-muted);
  position: absolute;
  top: -8px;
  left: 0;
  font-size: var(--font-size-sm);
  pointer-events: none;
  z-index: 10;
}
.contact-form textarea:placeholder-shown:not(:focus) + *,
.contact-form input:placeholder-shown:not(:focus) + * {
  font-size: var(--font-size-sm);
  top: 15px;
  left: 0;
  padding: 0;
}
.contact-form textarea::placeholder,
.contact-form input::placeholder {
  opacity: 1;
  transition: all .15s;
}
.contact-form textarea:placeholder-shown:not(:focus)::placeholder,
.contact-form input:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.contact-form textarea:placeholder-shown:not(:focus) + * {
  top: 15px;
  transform: none;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 50%;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
}

.site-footer address {
  font-style: normal;
}
.site-footer a {
  color: var(--color-body);
}
.site-footer a:hover {
  text-decoration: underline;
}

:root {
  --color-dark: #202124;
  --color-dark-rgb: 32, 33, 36;
  --color-body: #5f6368;
  --color-muted: #9aa0a6;
  --color-border: #efeff3;
  --color-input: #efeff3;
  --color-primary: #3999C6;
  --color-primary-rgb: 57, 153, 198;
  --color-secondary: #1cbb8c;
  --color-light: #f8f9fa;
  --border-radius: 5px;
  --space-0: 10px;
  --space-1: 15px;
  --space-2: 20px;
  --space-3: 25px;
  --space-4: 40px;
  --space-5: 75px;
  --font-size-lg: 17px;
  --font-size-md: 15px;
  --font-size-sm: 13px;
  --font-size-xs: 12px;
}

.px {
  padding: var(--space-5) 0;
}
.px-md {
  padding: var(--space-4) 0;
}
.px-lg {
  padding-bottom: calc(4 * var(--space-5));
}

.grid {
  display: grid;
}
.grid-align-center {
  align-self: center;
}
.grid-align-start {
  align-self: start;
}
.grid-align-end {
  align-self: end;
}
.grid-justify-center {
  justify-self: center;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-gap-0 {
  grid-gap: var(--space-0);
}
.grid-gap-1 {
  grid-gap: var(--space-1);
}
.grid-gap-2 {
  grid-gap: var(--space-2);
}
.grid-gap-3 {
  grid-gap: var(--space-3);
}
.grid-gap-4 {
  grid-gap: var(--space-4);
}
.grid-gap-5 {
  grid-gap: var(--space-5);
}

.flex-0 {
  display: flex;
}
.flex-1 {
  display: flex;
  align-items: center;
}
.flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}

.mb-xs {
  display: block;
  margin-bottom: 3px;
}
.mb-sm {
  display: block;
  margin-bottom: 5px;
}
.mb-0 {
  margin-bottom: var(--space-0);
}
.mb-1 {
  margin-bottom: var(--space-1);
}
.mb-2 {
  margin-bottom: var(--space-2);
}
.mb-3 {
  margin-bottom: var(--space-3);
}
.mb-4 {
  margin-bottom: var(--space-4);
}
.mb-5 {
  margin-bottom: var(--space-5);
}

.mr-0 {
  margin-right: var(--space-0);
}
.mr-1 {
  margin-right: var(--space-1);
}
.mr-2 {
  margin-right: var(--space-2);
}
.mr-3 {
  margin-right: var(--space-3);
}
.mr-4 {
  margin-right: var(--space-4);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.rounded {
  border-radius: var(--border-radius);
}
.rounded-top {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.rounded-bottom {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.rounded-50 {
  border-radius: 50%;
}

.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}
.img-opacity {
  opacity: .90;
}

.border {
  border: 1px solid var(--color-border);
}
.border-top {
  border-top: 1px solid var(--color-border);
}
.border-top-0 {
  border-top: 0;
}
.border-right {
  border-right: 1px solid var(--color-border);
}
.border-bottom {
  border-bottom: 1px solid var(--color-border);
}
.border-left {
  border-left: 1px solid var(--color-border);
}

.text-xs {
  font-size: var(--font-size-xs);
}
.text-sm {
  font-size: var(--font-size-sm);
}
.text-md {
  font-size: var(--font-size-md);
}
.text-lg {
  font-size: var(--font-size-lg);
}
.text-muted {
  color: var(--color-muted);
}
.text-body {
  color: var(--color-body);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-dark {
  color: var(--color-dark);
}
.text-white {
  color: #fff;
}
.text-bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-underline {
  text-decoration: underline;
}
.text-extended {
  letter-spacing: 1px;
}
.text-line-through {
  text-decoration: line-through;
}

.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}

.bg {
  background-color: var(--color-light);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-2 {
  background-color: var(--color-secondary-bg);
}
.bg-white {
  background-color: #fff;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1199.98px) {
  :root {
    --space-3: 20px;
    --space-4: 25px;
    --space-5: 40px;
    --font-size-lg: 16px;
  }
}
@media only screen and (max-width: 991.98px) {
  :root {
    --font-size-md: 14px;
    --space-4: 20px;
    --space-5: 30px;
  }

  .w-50 {
    width: 75%;
  }

  .d-md-none {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  :root {
    --border-radius: 0px;
  }

  h4,
  button,
  textarea,
  input,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .w-25,
  .w-50,
  .w-75 {
    width: 100%;
  }

  .grid-col-3, .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .text-center {
    text-align: left;
  }

  br,
  .d-sm-none {
    display: none;
  }
}
@media only screen and (max-width: 575.98px) {
  .grid-col-4 {
    grid-template-columns: 1fr;
  }

  .btn {
    height: 40px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .site-header {
    padding: var(--space-0) var(--space-5);
  }

  .intro .image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: var(--space-5);
    z-index: -1;
  }
  .intro .image img {
    height: 100%;
    width: auto;
    right: auto;
  }
  .intro .px {
    padding: var(--space-5);
  }
  .intro-content {
    position: relative;
  }

  .px {
    padding: var(--space-5);
  }
  .px-lg {
    padding-bottom: calc(4 * var(--space-5));
  }
}
@media only screen and (max-width: 991.98px) {
  .site-header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 var(--space-5);
  }

  .site-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 70px);
    overflow-x: auto;
    position: fixed;
    top: 70px;
    left: -100%;
    transition: all 0.3s ease;
    z-index: 999;
    padding: 0;
  }
  .site-navigation .site-menu {
    display: block;
    width: 100%;
  }
  .site-navigation .site-menu li {
    border-bottom: 1px solid var(--color-border);
  }
  .site-navigation .site-menu li a {
    display: block;
    padding: var(--space-2);
    color: var(--color-dark) !important;
    border-radius: 0;
  }
  .site-navigation .account {
    flex-direction: column;
    width: 100%;
    margin: auto 0;
    padding: var(--space-2);
  }
  .site-navigation .account a {
    width: 100%;
    color: var(--color-secondary);
  }
  .site-navigation .account a:first-child {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    margin-bottom: var(--space-0);
  }
  .site-navigation .account a:last-child {
    background-color: var(--color-secondary);
    color: #fff;
  }
  .site-navigation.active {
    left: 0;
  }

  .mobile-menu-icon {
    display: block;
    margin-left: auto;
    color: var(--color-dark);
  }
  .mobile-menu-icon:hover {
    color: var(--color-dark);
  }
  .mobile-menu-icon.active:before {
    font-size: 20px;
    content: "\e90e";
  }
  .mobile-menu-icon:before {
    font: 400 22px/1 'fontello';
    content: "\e90b";
  }
}
@media only screen and (max-width: 767.98px) {
  .site-header {
    padding: 0 var(--space-4);
  }

  .intro .px {
    padding: var(--space-4);
  }
  .intro .image {
    position: relative;
    right: auto;
  }
  .intro .image img {
    width: 85%;
    height: auto;
    margin: auto;
  }

  .features .grid {
    grid-gap: var(--space-2);
  }
  .features .col {
    padding: 0;
    border: 0 !important;
    border-width: 0;
    border-bottom: 1px solid var(--color-border);
  }

  .banner img {
    width: 75%;
    margin: auto;
  }

  .contact-form {
    margin-top: auto;
  }

  .px {
    padding: var(--space-4);
  }

  .h1, .h2, .h3, .h4, .h5,
  h1, h2, h3, h4, h5 {
    font-weight: 700;
    letter-spacing: 0;
  }
}
